
<div class="row justify-content-center">
  <div class="col-md-6 pt-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Редактирование профиля</h3>
      </div>
        <div class="panel-body">
          <%= render 'form', user: @user %>
        </div>
    </div>
    <p class="buffer-top">
      <%= link_to "Сменить пароль", edit_user_pathg %>
    </p>
  </div>
</div>