<%# Паршал для вывода отдельной фотографии %>
<div class="event-photo ml-3 buffer-both text-center float-left">
  <div>
    <%= image_tag photo.photo.thumb.url, class:'img-thumbnail' %>
  </div>
  <div class="text-muted">
    <%= link_to photo.discription, photo.photo.url %>
  </div>
  <div>
    <%= render partial: 'users/user', object: photo.user %>
  </div>
</div>
