<p>Привет <%= @resource.email %>!</p>

<p>Кто-то запросил ссылку для смены пароля. Сменить пароль можно по этой ссылке:</p>

<p><%= link_to 'Сменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы этого не делали, пожалуйста, закройте это письмо. </p>
<p>Ваш пароль не поменяется, пока вы не запросите новую ссылку.</p>