
/* Buffers */
.buffer-top {
  margin-top: 20px;
}

.buffer-bottom {
  margin-bottom: 20px;
}

.buffer-both {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Avatars for users & events */
.img-icon, .img-icon-small {
  height: 50px;
  width: auto;
  border-radius: 50%;
}

.img-icon-small {
  height: 25px;
}

/* Thumbnails for events/index */
.thumbnail {
  position: relative;
  background: transparent;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 2px 6px 8px 1px rgba(96, 96, 96, 0.81);
  transition:all 0.8s;
  width: 260px;
}


.thumbnail:hover {
  transition: 0.7s;
  box-shadow: 7px 7px 18px 3px rgba(96, 96, 96, 0.66);
}

.thumbnail h3 {
  white-space: nowrap;
  overflow: hidden;
  margin-top: 0;
  margin-bottom: .3em;
}

.thumbnail-inner {
  padding: 20px 10px 10px;
}

.event-background {
  position: absolute;
  width: 100%;
  z-index: -1;
  top: 0; bottom: 0;
  left: 0; right: 0;
  background-size: cover;
  background-position: center;
  border: 2px whitesmoke solid;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
  -o-filter: blur(1px);
  -ms-filter: blur(1px);
}

.event-info {
  color: #DADADA;
  opacity: 0.9;
  height: auto;
}

.event-card {
  height: 100%;
}

.event-discription {
  color: #FFFFFF;
  text-shadow:
    0   -1px 0   #000000,
    0   -1px 0   #000000,
    -0    1px 0   #000000,
    0    1px 0   #000000,
    -1px -0   0   #000000,
    1px -0   0   #000000,
    -1px  0   0   #000000,
    1px  0   0   #000000,
    -1px -1px 0   #000000,
    1px -1px 0   #000000,
    -1px  1px 0   #000000,
    1px  1px 0   #000000,
    -1px -1px 0   #000000,
    1px -1px 0   #000000,
    -1px  1px 0   #000000,
    1px  1px 0   #000000;
}

.app-col {
  min-height: 70vh !important;
}

.alert-container {
  position: absolute;
  width: 100%;
  z-index: 10000;
}

.alert {
  transition: 0.3s;
}

.form-control {
  width: 100%;
}

.panel {
  padding: 25px;
  background: #d0d0d0;
  box-shadow: rgba(15, 22, 40, 0.56) 0px 1px 8px 2px;
  border: #a9a9a91c 2px solid;
  border-radius: 8px;
  transition:all 0.8s;
}

.panel-title {
  background-color: #515151;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  color: transparent;
  text-shadow: rgba(255, 255, 255, 0.44) 1px 2px 0px;
}

.fade:not(.show) {
  opacity: 0.95;
}

.footer {
  min-height: 150px;
}
.footer-brand {
  position: absolute;
  bottom: 110px;
}

.avatar-profile {
  width: 25%;
  margin-left: 40%;
  margin-right: 40%;
}

.avatar-comment {

}

.event-comments {
  margin-top: 50px;
  margin-bottom: 40px;
}

.comments-form {
  margin-bottom: 50px;
  border-bottom: #DADADA 1px solid;
  padding: 20px;
  box-shadow: 0px 11px 30px -5px #6666;
  transition: 0.6s;
}

.comments-form:hover {
  margin-bottom: 50px;
  border-bottom: #DADADA 1px solid;
  padding: 20px;
  box-shadow: 0px 20px 40px -5px #6666;
  transition: 0.6s;
}

.user-comment {
  padding: 15px;
  border-bottom: #DADADA 1px solid;
}

.user-comment p {
  margin-bottom: 5px;
}

.event-owner {

}

.event-photos {
  margin-bottom: 20px;
  margin-top: 70px;
}


.event-photos-gallery {
  display: flex;
}

.photo-thumb {
}

.subs:hover {
  transition: 0.4s;
  color: #2E2F30;
  cursor: pointer;
}

.subs {
  transition: 0.4s;
}

.subscribe-form {
  padding-left: 20px;
  padding-right: 30px;
}